extends base

mixin navItem(link, text, icon, alt, active)
    li.side-nav__item(class=`${active ? 'side-nav__item--active' : ''}`)
        a.side-nav__link(href=`${link}`)
            img.side-nav__icon(src=`/icon/${icon}` alt=`${alt}`)
            span #{text}

mixin tableRowUser(documentName)
    tr.table__row
        td.table__data #{documentName}
            td.table__data
                a(href=`/api/file/download/${documentName}`)
                    img(src='/icon/icon-paper-download.svg', alt='download file icon')

mixin tableRowAdmin(documentName, numberOfEmailsSent, numberOfDownloads)
    tr.table__row
        td.table__data #{documentName}
            td.table__data #{numberOfEmailsSent}
            td.table__data #{numberOfDownloads}

block content
    // HEADER
    include _header
    main.main
        nav.sidebar
            ul.side-nav
                +navItem('/home', 'Dashboard', 'icon-paper-download.svg', 'download file icon', )
                - if (user.role === 'user')
                    +navItem('/send_email', 'Send Email', 'icon-email.svg', 'email icon')
                - if (user.role === 'admin')
                    +navItem('/add-file', 'Add File', 'icon-paper-download.svg', 'email icon', true)
                +navItem('#', 'Settings', 'icon-settings.svg', 'settings icon')

        .content

            //- (action=`api/file/upload-file`, method="post", enctype='multipart/form-data')

            .popup__header
                h6.heading-6.popup__title Add File
            form.form.form__add-file
                .form__group
                    input#uploadFile(type='file',  required name='file')
                .form__group
                    label.form__label(for='title') Title
                    input#title.form__input(type='text', required placeholder='Title' name="title" disabled)
                .form__group
                    label.form__label(for='description') Description
                    textarea#description.form__textarea(name='description', required cols='30', rows='5', placeholder='Description')
                .form__group
                    button.btn.btn__primary#submit Upload
